@import "tailwindcss";

@import "./fonts.css";

@import "swiper/css";

@theme {
    --font-sans: 'LFT Etica', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-display: 'Owners Narrow', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-blue-light: #413FD2;
    --color-blue: #4C49F2;
    --color-blue-dark: #191871;
    --color-blue-darker: #1E1D6F;
    --color-orange: #FF9940;
    --color-apricot: #F2955D;

    --leading-tighter: 1.1;
    --tracking-wide: 0.03em;

    --default-transition-duration: 300ms;
}

/* Circular Video */
.video-circular {
    clip-path: circle(28.125% at center);
    transition: clip-path 2.5s ease-in-out;
}

.video-circular.expanded {
    clip-path: circle(100% at center);
}

/* Sponsor Scrolling Animation */
@keyframes scroll-x {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-scroll-x {
    animation: scroll-x linear infinite;
}
